@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;700&family=Cairo:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



a {
    text-decoration: none;

}



::placeholder {
    opacity: .5;
    color: black;
    font-size: 14px;
}

:-ms-input-placeholder {
    opacity: .5;
    font-size: 14px;

    color: black;
}

::-ms-input-placeholder {
    opacity: .5;
    color: black;
    font-size: 14px;

}

body {
    font-family: Alexandria, sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 0px;
}

    form {
        border-radius: 0.75rem;
        background: white;
        --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
        --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        padding: 20px;

        width: 40%
    }

    label {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }


    input,
    select {
        border-width: 1px;
        border-style: none;
        margin-top: 0.5rem;

        border-radius: 0.75rem;
        padding: 0.5rem 0.75rem;
        appearance: none;
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246 / var(--tw-bg-opacity));
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        width: 100%;


        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .input_div {
        display: flex;
        align-items: center;
        --tw-bg-opacity: 1;
        border-radius: 0.75rem;
        padding: 0.25rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    }

    .input_div i {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .svg-sm {
        height: 1.5rem;
        width: 1.5rem;
    }

    input,
    select {
        outline: none;
        margin-top: 0px;
    }

    .logo {
        width: 200px;
        object-fit: contain;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    button {

        padding: 10pt 5pt;
        width: 100%;
        border: none;
        border-radius: 4pt;
        cursor: pointer;
        outline: none !important;
        user-select: none;
        font-size: 14px;
        font-weight: 600;
        color: white;
        margin-top: 15px;

        background-color: #31006f;

    }

    .text-xs {
        font-size: .75rem;
        line-height: 1rem;
    }

    p {
        margin-bottom: 8px;
    }

    .invalid {
        border: 2px solid red !important;
    }

    .error {
        color: red;
        font-size: 13px;
        margin-top: 5px;
    }

    @media (max-width:993px) {
        form {
            width: 90%;
        }
    }




    .google {
        border-radius: 6px;
        color: #0b1725;
        background-color: #ebeef7;
        border-radius: .25rem;
        border: 1px solid transparent;
        padding: .8rem .75rem;
        font-size: 14px;
    }



    .google img {
        width: 30px;
        height: 40px;
        margin-left: 10px;
    }

    .auth {
        text-align: center;
        margin-top: 10px;
    }
