.layer_show {
    display: block;
}



.ul_show {
    right: 0px !important;
    transition: 0.3s ease-in-out 0s;
}

#menu {
    display: block !important;
    margin: 0px;
}

#nav {
    margin: 0px;
    padding: 5px !important;
    width: 100%;
}

#nav.nav_collapse {
    width: 100%;
    margin: 0px;
}

#collape_btn {
    display: none;
}


.content {
    margin: 60px 0px !important;
    padding: 10px 10px;
    width: calc(100%);
}

#nav .logo {
    display: block;
    margin: 0px 5px;
}


/* colors */

.colors {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 300px;
    left: -300px;

}

.colorsShow {
    left: -10px;
}


/* span.menu-arrow::after {
    transform: rotateZ(180deg);
} */


.disktop {
    display: none;
}
